body {
  background-color: #3a404b;
  min-height: 1300px;
  padding-top: 5rem;
}

#footer {
  background-color: white;
  min-height: 50px;
}
.tab {
    display: inline-block;
    margin-left: 40px;
}
pre {
  tab-width: 2;
}